{{define "title"}}SitRep, Jenkins in depth{{end}}

{{define "body"}}

<div id="loading">
    <div class="progress progress-striped active">
        <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"
             style="width: 100%">
            <span class="sr-only">100% Complete</span>
        </div>
    </div>
</div>
<div id="content">
    <ul id="job-list" class="list-group"></ul>
</div>

<script type="text/template" id="jenkins-job">
    <div class="job">
        <header><a href='#job/<%= name %>'><%= name %></a></header>
        <div id="job-info-<%= name %>"></div>
    </div>
</script>

<script type="text/template" id="repo-info">
    <ul>

    <% _.each(pulls, function(pull_request){ %>
        <li>
            <div class="pull-request-info">
                <%= pull_request.name %> By <%= pull_request.author %> From <%= pull_request.source %> going to <%= pull_request.destination %> - <a href='#pullrequest/<%= pull_request.id %>'>more</a>
            </div>
        </li>
    <% }); %>
    </ul>
</script>

{{end}}
