{{define "title"}}SitRep, Jenkins in depth{{end}}

{{define "body"}}
 <table class="table table-bordered">
    <thead>
      <tr>
        <th>Name</th>
        <th>Status</th>
        <th>Link</th>        
    </thead>
    <tbody>
        {{range .Jobs}}
            <tr>
              <td>{{.Name}}</td>
              <td>{{.Color}}</td>
              <td>{{.Url}}</td>
             </tr>
        {{end}}
    </tbody>
</table>

<div id="pullRequestListArea">
    <ul id="pullRequest"></ul>
</div>

<script type="text/template" id="pull-request-item">
    <li><a href='#pullrequest/<%= author %>'><%= name %></a></li>
</script>

{{end}}
