{{set . "title" "Home"}}
{{template "header.html" .}}

        <div class="body">
            <div class="col-md-3">
                <ul class="nav nav-pills nav-stacked">
                    <li class="nav-header"><a>Jobs</a></li>
                    {{range .jobs}}
                    <li><a href="#/job/{{.Name}}">{{.Name}}</a></li>
                    {{end}}
                </ul>
            </div>


            <div class="col-md-9" ng-view>


            </div>
        </div>
        <style type="text/css">
            .nav a { color: #787878; }
        </style>
{{template "footer.html" .}}
