<header>
    <h2>{{jobId}}</h2>
</header>

<ul class="nav nav-tabs">
    <li class="active"><a href="#/job/{{jobId}}">Pull Requests</a></li>
    <li><a href="#/job/{{jobId}}/branches">Branches</a></li>
</ul>
<div class="tab-content">
    <table class="table table-hover pr-table">
        <thead>
        <tr>
            <th class="pr-id">ID</th>
            <th class="pr-title">Title</th>
            <th class="pr-other">Author</th>
            <th class="pr-other">Source</th>
            <th class="pr-other">Destination</th>
            <th class="pd-other">Build Status</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="pullRequest in job.pull_requests">
            <td class="pr-id"><a href="{{pullRequest.url}}" target="_blank">#{{pullRequest.id}}</a></td>
            <td class="pr-title">{{pullRequest.title}}</td>
            <td class="pr-other">{{pullRequest.author}}</td>
            <td class="pr-other">{{pullRequest.source}}</td>
            <td class="pr-other">{{pullRequest.destination}}</td>
            <td class="pr-other" ng-if="pullRequest.last_build.status == 'SUCCESS'"><span class="label label-success">{{pullRequest.last_build.status}}</span></td>
            <td class="pr-other" ng-if="pullRequest.last_build.status == 'FAILURE'"><span class="label label-danger">{{pullRequest.last_build.status}}</span></td>
            <td class="pr-other" ng-if="pullRequest.last_build.status != 'FAILURE' && pullRequest.last_build.status != 'SUCCESS'"><span class="label label-default">{{pullRequest.last_build.status}}</span></td>
        </tr>
        <tr ng-show="!job.pull_requests.length">
             <td colspan="6">No open pull requests!</td>
        </tr>
        </tbody>
    </table>
</div>
