<header>
    <h2>{{jobId}}</h2>
</header>

<ul class="nav nav-tabs">
    <li><a href="#/job/{{jobId}}">Pull Requests</a></li>
    <li class="active"><a href="#/job/{{jobId}}/branches">Branches</a></li>
</ul>
<div class="tab-content">
    <table class="table table-hover pr-table">
        <thead>
        <tr>
            <th></th>
            <th>Name</th>
            <th>Last Build Status</th>
            <th>Last Build At</th>
            <th>Build ID</th>
            <th>Build Now</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="branch in job.branches | orderBy:timestamp">
            <td class="pr-other" ng-if="branch.last_build.status == 'SUCCESS'"><span class="glyphicon glyphicon-ok"></span></td>
            <td class="pr-other" ng-if="branch.last_build.status != 'SUCCESS'"><span class="glyphicon glyphicon-remove"></span></td>
            <td >{{branch.name}}</td>
            <td class="pr-other" ng-if="branch.last_build.status == 'SUCCESS'"><span class="label label-success">{{branch.last_build.status}}</span></td>
            <td class="pr-other" ng-if="branch.last_build.status == 'FAILURE'"><span class="label label-danger">{{branch.last_build.status}}</span></td>
            <td class="pr-other" ng-if="branch.last_build.status != 'FAILURE' && branch.last_build.status != 'SUCCESS'"><span class="label label-default">{{branch.last_build.status}}</span></td>
            <td>{{branch.last_build.done_at}}</td>
            <td><a href="#/job/{{jobId}}/build/{{branch.last_build.build_id}}" target="_blank">#{{branch.last_build.build_id}}</a></td>
            <td><a href="#/job/build/{{jobId}}/{{branch.name}}">Start</a></td>
        </tr>
        <tr ng-show="!job.branches.length">
            <td colspan="6">Fetching branches.</td>
        </tr>
        </tbody>
    </table>
</div>
